[Unit]
Description=Valohai Worker Queue
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm \
                              --name %n \
                              --network host \
                              --mount source=acme,target=/var/lib/acme \
                              --mount source=redis,target=/var/lib/redis \
                              -e QUEUE_ADDRESS=$QUEUE_ADDRESS \
                              -e REDIS_PASSWORD=$REDIS_PASSWORD \
                              valohai/worker-queue:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
